<!DOCTYPE html>
<html lang="en-us" ng-app="accessApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.min.js"></script>
    <script src="../javascripts/aws-cognito/amazon-cognito-identity.min.js"></script>

    <title>Hxgn Access</title>
    <style>

    </style>
    <script>
        angular.module('accessApp', ['ngResource'])
            .controller('accessController', function ($scope, cognito) {
                $scope.username = '';
                $scope.password = '';

                $scope.login = function (loginForm) {
                    if (loginForm.$valid) {
                        cognito.authenticate($scope.username, $scope.password);
                    } else {
                        var toastHTML = `<span>Invalid Form</span>`;
                        M.toast({html: toastHTML});
                    }
                }
            })
            .factory('Login', function($resource) {
                return $resource('http://localhost:9000/login');
            })
            .service('cognito', function(Login) {
                return {
                    authenticate: function (username, password) {
                        Login.save({username: username, password: password})
                            .$promise.then(result => {
                                console.log(result);

                                var toastHTML = `<span>Successfully logged</span>`;
                                M.toast({html: toastHTML});

                                let d = new Date();
                                d.setDate(d.getDate() + 1);
                                document.cookie = '6lgvrt5ghjm3gpqf015uor3krn.LastAuthUser' + '=' + username + ';expires=' + d.toUTCString() + ';path=/'; 
                                document.cookie = '6lgvrt5ghjm3gpqf015uor3krn.accessToken' + '=' + result.accessToken + ';expires=' + d.toUTCString() + ';path=/';
                                document.cookie = '6lgvrt5ghjm3gpqf015uor3krn.idToken' + '=' + result.idToken + ';expires=' + d.toUTCString() + ';path=/';
                                document.cookie = '6lgvrt5ghjm3gpqf015uor3krn.refreshToken' + '=' + result.refreshToken + ';expires=' + d.toUTCString() + ';path=/'; 

                                let urlParams = new URLSearchParams(window.location.search);
                                let redirectParam = urlParams.get('redirect');
                                if (redirectParam) window.location.href = redirectParam;
                            }, error => {
                                let errorMsg = error.data;
                                var toastHTML = `<span>${errorMsg}</span>`;
                                M.toast({html: toastHTML});
                            });
                    }
                }
            });
    </script>
</head>

<body ng-controller="accessController" style="background-color: #F1F1F1;">
    <div class="card" style="width: 400px; margin: auto; margin-top: 100px;">
        <div class="card-image">
            <img style="width: auto; margin: auto; padding-top: 20px;" src="../images/logo1.png" alt="image">
        </div>
        <div class="card-content">
            <form name="loginForm" ng-submit="login(loginForm)">
                <label style="font-weight: bold;">Username</label>
                <input type="text" name="username" ng-model="username" required>

                <label style="font-weight: bold;">Password</label>
                <input type="password" name="username" ng-model="password" required>

                <button class="btn blue" style="width: 100%; margin-top: 10px;">Login</button>
            </form>
        </div>
    </div>
</body>

</html>